## Importing project data from a database using psycopg2 for the real estate EDA project

In [1]:
# Import the necessary libraries
import pandas as pd
import psycopg2

##### The database name, user name, passwort, etc. are safely storen (and "hidden") in a .env file in the same folder, so this information does not get shared. The os library is used to retrieve this information from the .env file for its use later on.

In [2]:
# Import os library and read in data from .env file
import os
from dotenv import load_dotenv

load_dotenv()
DATABASE = os.getenv('DATABASE')
USER_DB = os.getenv('USER_DB')
PASSWORD = os.getenv('PASSWORD')
HOST = os.getenv('HOST')
PORT = os.getenv('PORT')

##### pyscopg2 is now used to connect to the database.

In [3]:
# Create connection object conn
conn = psycopg2.connect(
    database=DATABASE,
    user=USER_DB,
    password=PASSWORD,
    host=HOST,
    port=PORT
)

##### A cursor is created to work inside the database.

In [4]:
cur = conn.cursor()

##### SQL commands can now be used to work inside the database while "being in the python environment".

In [6]:
# import the data into a pandas dataframe
# The database needs to know in which schma you want to work! This is set first.
command_sql1 = "SET SCHEMA 'eda'" 
cur.execute(command_sql1)
# The qury string joins the two tables of the database and with the pandas command a dataframe is created which consists of the two joined tables.
query_string = "SELECT * FROM eda.king_county_house_details d LEFT JOIN eda.king_county_house_sales s ON d.id = s.house_id"
df_psycopg = pd.read_sql(query_string, conn)

C:\Users\Roland\AppData\Local\Temp\ipykernel_24100\2657827082.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_psycopg = pd.read_sql(query_string, conn)

##### Closing the connection is important. Don't forget.

In [7]:
#close the connection
conn.close()

In [10]:
# Having a quick look at the imported data. Everything seems to be fine.
df_psycopg.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price,house_id,id
0,7129300520,3.0,1.00,1180.0,5650.0,1.0,NaN,0.0,3,7,...,0.0,98178,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0,7129300520,1
1,6414100192,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,7,...,19910.0,98125,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0,6414100192,2
2,5631500400,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3,6,...,NaN,98028,47.7379,-122.233,2720.0,8062.0,2015-02-25,180000.0,5631500400,3
3,2487200875,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5,7,...,0.0,98136,47.5208,-122.393,1360.0,5000.0,2014-12-09,604000.0,2487200875,4
4,1954400510,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3,8,...,0.0,98074,47.6168,-122.045,1800.0,7503.0,2015-02-18,510000.0,1954400510,5

##### Data is locally stored inside a csv-file. This is not always an option, but for this project it is. Don't forget the "index=False" part, otherwise the data(frame) is expanded by this column.

In [11]:
#export the data to a csv-file
df_psycopg.to_csv('data/eda.csv',index=False)